.home{
  background-color: #f8f8f8;
  margin: 0;
  padding: 8rem 1rem 0 1rem;
  
}


.home .container{
  background-color: white;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.home .board{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: blue;
  column-gap: 5rem;
}
.home .john{
  display: grid;
  font-size: 3rem;
  text-transform: uppercase;
  transform: translate(-5rem);
  

}
.button{
  background-color: var(--secondary-color);
  
}
.home .containerv{
  display: flex;
 flex-direction: row;
  justify-content: space-around;
  color: blue;
  column-gap:10rem;
  padding: 20px;
  margin: 15px;

}
.home .gridmission{
  display: flex;
  flex-direction: column;
  
  
}
.home .gridmission img{
 width: 20rem;
 align-self: center;
 border-radius: 10px;
  
  
}
.home .gm{
  width: 30rem;
  padding: 0 1rem;
}
.home .gridvission img{
  width: 20rem;
 align-self: center;
 border-radius: 10px;
}
.gv{
  width: 30rem;
  padding: 0 1rem;
}

.gm{
  background-color: azure;
}

.home .gridmission p:first-child{
  text-align: center;
  font-weight: bold;
font-size: 1.5rem;
text-transform: uppercase;


}
.home .gridmission p:nth-child(2){
  
  padding: 15px;
}

.home .gridvission{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.home .gv{
  background-color: azure;
}
.home .gridvission p:first-child{

  text-align: center;
  font-weight: bold;
font-size: 1.5rem;
text-transform: uppercase;
margin: 10px;
}
.home .gridvission p:nth-child(2){
  padding: 15px;
}







































/* body {
    background-color: white;
    margin: 0;
  }
  .container{
    margin: 10px;
  }
  .studtImage{
    transform: translate(30px,80px);
   margin: 20px; 
 }
  .board{
    transform: translate(30px,-200px);
  }
  
  .john{
  margin: auto;
  width: 50%;
  padding: 10px;
  left: 400px;
  }
  .john{
    height: 200px;
    font-size: 80px;
    color: blue;
    text-align: center;
    margin-right: 100px;
    margin-bottom: 100px;
    text-transform: capitalize;
  
  }
  .dashboardaccess{
    color:blue ;
    margin-left: 800px;

  }
  .containerv{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-around;
  }
  .grid{
    


  }
  .mission{
    text-align: center;
    width: 25%;
  }
  .vission{
    text-align: center;
    width: 25%;
    
  }
  

  
  
  
   */
  
  
  
  