


.header {

  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  transition: .3s ease-in;
  overflow: hidden;
  background-color: white;
  

}
.header-bg{
  background-color: rgba(0,0,0,.9); 
}

.header .navBar{
  display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px; 
    margin: 0;
    height: 100%;
    
    padding: 0 1rem;
}


.header .navbar img {
  width: 250px;
  height: auto;
}
.header .nav-menu{
 display: flex;
 
 color: #ffffff;
  
}
.header .nav-item {
  padding: 1rem;
  font-weight: 500;
}
.header .nav-item a{
  color: blue;
}
.header .nav-item a:hover {
  padding-bottom: 12px;
  border-bottom: 3px solid var(--secondary-color);
}
  .header .bars{
    
    color: #ffffff;
  }
  @media screen and (min-width:940px){
   
    .header .bars{
    display: none;
      color: #ffffff;
      
    }
  }
  @media screen and (max-width:940px) {
    .header {
        max-width: 100%;
         background-color: rgba(0,0,0,.9); 
        
    }

    .header .navbar {
        max-width: 100%;
    }

    .bar {
        display: block;
      
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 90px;
        flex-direction: column;
        background-color: rgba(0,0,0,.9);
        width: 100%;
        height: 90vh;
        z-index: 999;
        text-align: center;
        transition: .3s;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
        
    }

    .header .navbar img {
        width: 150px;
    }
}






















   
  
 
   /* .colorShape{
    margin-bottom: 10px;
    position: relative;
    margin: -2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
    transform: rotate(-15deg) translate(-2.5rem,-2.5rem);




    

  }
  .colorShape::before{
    border-radius: 50%;
    position: absolute;
    content: '';
  transform: translate(100px,0px);
    width: 15rem;
    height: 15rem;
    background-color:blue ;

  }
.colorShape::after{
    border-radius: 50%;
    position: absolute;
    content: '';
    display: block;
  
    width: 15rem;
    background-color: blue;
    height: 15rem;
    transform: translate(150px,0px);
    
    rotate: 1 1 0 deg;
} /*  */

  
  /* .ul {
   
    background-color:blue;
    padding: 0;
    color: aqua;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 2rem;
    height: 80px;
    align-items: center;
    padding: 10px;
  
  } */
  /* .contactWay{
    row-gap: -10px;
    background-color: blue;
  position: relative;
  
    }
  .FaMessage{
    height: 10px;

  }
  .TbMessage{
    height: 10px;
  } */

  /* @media all and (max-width:1000px){
    .colorShape::before{
      transform: translate(-2.5rem,0);
      width: 12rem;
      .nav ul {
      width: 35rem;
      }
    }
    .colorShape::after{
      width: 12rem;
      transform: translate(-2.5rem,0);
      margin-top: -10px;
    }
  }
  @media all and (max-width:500px){
    .colorShape::before{
      width: 10rem;
    }
    .colorShape::after{
      width: 10rem;
    }
  }
 */
